<nav class="bg-[#2b2d42]">
    <div class="w-screen flex justify-around py-4 text-[#d3d5f3]">
        <a routerLink="/">
            <div>Home</div>
        </a>
        <a routerLink="/nepali-chalchitra" class="">
            <div>Nepali</div>
        </a>
        <a routerLink="/hollywood" class="">
            <div>English</div>
        </a>
        <a routerLink="/japanese" class="">
            <div>Japan</div>
        </a>
        <a routerLink="/bollywood" class="">
            <div>India</div>
        </a>
        <ng-container *ngIf="!isLoggedIn">

            <a routerLink="/login" class="">
                <div>Login</div>
            </a>
        </ng-container>
        <ng-container *ngIf="isLoggedIn">
            <div class="relative">
                <img src="default-profile.jpg" alt="Profile" class="w-8 h-8 rounded-full cursor-pointer"
                    (click)="toggleDropdown()" />
                <div *ngIf="showDropdown"
                    class="z-50 absolute right-0 mt-2 bg-white text-black py-2 rounded shadow-lg w-40">
                    <ng-container *ngIf="isAdminOrStaff()">
                        <a routerLink="/movie-catagory" class="block px-4 py-2 hover:bg-gray-200">Admin Panel</a>
                    </ng-container>
                    <!-- <a routerLink="/profile" class="block px-4 py-2 hover:bg-gray-200">Profile</a> -->
                    <button (click)="logout()"
                        class="block w-full text-left px-4 py-2 hover:bg-gray-200">Logout</button>
                </div>
            </div>
        </ng-container>

    </div>
</nav>