<div class="max-w-3xl mx-auto bg-white rounded-lg shadow-lg overflow-hidden flex flex-col md:flex-row">
    <!-- Left Side -->
    <div class="relative md:w-1/2 bg-cover bg-center h-64 md:h-auto"
        [style.backgroundImage]="'url(' + movie.imagesUrl + ')'">


        <!-- Overlay for Title and Parental -->
        <div class="absolute bottom-0 bg-black bg-opacity-50 w-full p-4 text-white">
            <h3 class="text-lg font-bold">{{ movie.title }}</h3>
            <h5 class="text-sm">{{ movie.parental }}</h5>
        </div>
    </div>

    <!-- Right Side -->
    <div class="flex flex-col md:w-1/2 p-4 overflow-hidden">
        <!-- Scrollable Section -->
        <div class="flex-grow overflow-y-auto">
            <span class="text-gray-500 text-sm">Released On</span>
            <div class="text-xl font-bold mb-2">{{ movie.releasedOn | date }}</div>
            <div class="mb-2">
                <span class="text-gray-700">Category:</span>
                <ul>
                    <li *ngFor="let category of movie.categories">{{ category.name }}</li>
                </ul>
            </div>
            <div class="text-gray-600">{{ movie.description }}
            </div>

            <!-- Non-scrollable Section -->
            <div class="flex justify-around">
                <div>
                    <span class="font-semibold">Genres:</span>
                    <div class="flex space-x-2" >
                        <div *ngFor="let genre of movie.genres">{{ genre.name }}</div>
                    </div>
                </div>
                <div class="flex bg-blue-400 rounded-2xl p-2">
                    <button class="">

                        More details
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>